{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load crispy_forms_tags %}



<div class="container-fluid bg-login">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="text-white">
                <div class="card_body p-5">
                    <h3 class="text-center mb-5">Sign into Your Account</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{form | crispy }}
                        <button type="submit" class="btn btn-dark w-100">Sign In</button>
                    </form>
                    <hr class="my-4">
                    <div class="text-center">
                        <p class="mb-0">Don't have an account yet?</p>
                        <a href="{% url 'signup' %}" class="text-primary">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.bg-login {
  /* background-image: url(https://picsum.photos/1920/1080); */
  background-image: url('/media/images/mountains1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card_body{
    background-color: transparent;
    /* opacity: 60%; */
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
}

.form-control {
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #495057;
  font-size: 1.2rem;
  padding: 15px 20px;
}

.btn-primary {
  background-color: #1e73be;
  border-color: #1e73be;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #1862a9;
  border-color: #1862a9;
}

</style>


{% block footer %}
  
{% endblock footer %}
{% endblock content %}