{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
  
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card rounded-5 mt-5">
                <div class="card-body mt-5">
                    <h4 class="card-title mb-4">Log in to your account</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-outline-primary w-100 mt-3 mb-5" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
{% endblock footer %}

{% endblock content %}