{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row mt-lg-5">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card mb-3 ">
                <div class="card-body">
                    <h4 class="card-title mb-4">Register your account</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-outline-primary w-100" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
  
{% endblock footer %}

{% endblock content %}
