{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-3">
    <!-- <button class="btn btn-outline-secondary mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id1"
        aria-controls="Id1">View Menu</button> -->

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="Id1"
        aria-labelledby="Enable both scrolling & backdrop">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="Enable both scrolling & backdrop">Customize Your Website</h4>
            <!-- OffCanvas Title goes here -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="dropdown">
                <button class="btn btn-primary custom dropdown-toggle w-100 fs-4" type="button" id="triggerId"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Website Management
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="{% url 'create-menu' %}">Create 'Menu' Page</a>
                    <a class="dropdown-item" href="{% url 'create-service' %}">Create 'Service' Page</a>
                    <h6 class="dropdown-header">View Your Created Lists</h6>
                    <a class="dropdown-item" href="{% url 'menu-list' %}">Menu List</a>
                    <a class="dropdown-item" href="#">Service List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">After divider action</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="sidebar">
                    <div class="d-flex justify-content-between align-items-center mb4">
                        <h3 class="mb-0">Your Dashboard</h3>
                        <a href="{% url 'create' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus me-2"></i>Create New</a>
                    </div>
                    <ul class="nav flex-column mb-4">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-chart-line me-2"></i> Analytics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-cog me-2"></i> Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#Id1"
                                aria-controls="Id1" style="cursor: pointer;"><i class="fas fa-angle-double-left me-2"></i>View Menu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">

            <section class="menu mt-4">
                <h1 class="fw-lighter">Menu's</h1>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for menu in menulist %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{menu.title}}</h5>
                                <p class="card-text">{{menu.content|safe}}</p>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <a class="text-decoration-none" href="{% url 'menu-update' menu.slug %}"><i
                                                class="fa-regular fa-pen-to-square text-primary"></i></a>
                                    </div>
                                    <div class="text-muted">
                                        <span class="ms-1 fst-italic"><a class="text-decoration-none"
                                                href="{% url 'menu-update' menu.slug %}">Update {{menu.title}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="service mt-4">
                <h1 class="fw-lighter">Services</h1>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for service in services %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{service.title}}</h5>
                                <p class="card-text">{{service.content|safe}}</p>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <a class="text-decoration-none"
                                            href="{% url 'service-update' service.slug %}"><i
                                                class="fa-regular fa-pen-to-square text-primary"></i></a>
                                    </div>
                                    <div class="text-muted">
                                        <span class="ms-1 fst-italic"><a class="text-decoration-none"
                                                href="{% url 'service-update' service.slug %}">Update
                                                {{service.title}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="service mt-4 mb-3">
                <h1 class="fw-lighter">Contact</h1>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                    {% for contact in contacts %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{contact.title}} 1</h5>
                                <p class="card-text"><i class="fa-solid fa-envelope me-2"></i>{{contact.email}} <br> <i class="fa fa-phone-square me-2" aria-hidden="true"></i> {{contact.phone_number}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="text-muted">
                                    <span class="ms-1 fst-italic"><a class="text-decoration-none"
                                            href="{% url 'contact-update' contact.slug %}">Update
                                            {{contact.title}} 1</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for contact in contacts %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{contact.title}} 2</h5>
                                <p class="card-text"><i class="fa-solid fa-clock me-2"></i>{{contact.business_hours}} <br><i class="fa-solid fa-map me-2"></i>{{contact.service_area}} <br></p>
                            </div>
                            <div class="card-footer">
                                <div class="text-muted">
                                    <span class="ms-1 fst-italic"><a class="text-decoration-none" href="{% url 'contact-update' contact.slug %}">Update
                                            {{contact.title}} 2</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for contact in contacts %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{contact.title}} 2</h5>
                                <p class="card-text"><i class="fa-solid fa-address-book me-2"></i>{{contact.address}} <br><i class="fa-solid fa-bars me-2"></i>{{contact.content|truncatechars:30}} <br></p>
                            </div>
                            <div class="card-footer">
                                <div class="text-muted">
                                    <span class="ms-1 fst-italic"><a class="text-decoration-none"
                                            href="{% url 'contact-update' contact.slug %}">Update
                                            {{contact.title}} 3</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <section class="about">

            </section>
        </div>
    </div>

</div>

{% endblock content %}