{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="img-background">
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- <div class="container">
            <div class="p-5 my-4 bg-light-subtle rounded-3">
                <div class="container-fluid py-5">
                  <h1 class="display-5 fw-bold">Welcome to Agua Plumbing</h1>
                  <p class="col-md-8 fs-4">At Agua Plumbing, our mission is to provide our customers with exceptional plumbing services that meet their unique needs and exceed their expectations. 
                    We strive to build lasting relationships with our customers based on trust, reliability, and quality workmanship.</p> 
                  <a href="{% url 'contact-detail' %}" class="btn btn-secondary btn-lg">Contact Us</a>
                </div>
            </div>
        </div> -->
    
    <!-- <div class="hero-image">
        <div class="hero-text">
            <h1 class="display-5 text-dark-stroke text-primary-shadow">Welcome to Our Agua Plumbing</h1>
            <p>We provide quality services that meet your needs.</p>
            <a href="#" class="btn btn-info btn-lg">Learn More</a>
        </div>
    </div> -->
    
    <section class="hero">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="First slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="/media/images/denver.jpg" class="w-100 d-block" alt="First slide">
                    <div class="carousel-caption">
                        <h1>Welcome to Agua Plumbing</h1>
                        <a class="btn btn-dark" href="#">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/images/longtable.jpg" class="w-100 d-block" alt="Second slide">
                    <div class="carousel-caption">
                        <h1>Welcome to Agua Plumbing</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/images/tables2.jpg" class="w-100 d-block" alt="Third slide">
                    <div class="carousel-caption">
                        <h1>Welcome to Agua Plumbing</h1>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>

    <section class="about">
    
    </section>
    <section class="contact">
    
    </section>
    <section id="services">
        <div class="container">
            <h2>Our Services</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box h-100">
                        <i class="fa fa-wrench"></i>
                        {% for service in services_card_1 %}
                        <h3>{{service.title}}</h3>
                        <p>{{service.content|safe}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box h-100">
                        <i class="fa fa-tint"></i>
                        {% for service in services_card_2 %}
                        <h3>{{service.title}}</h3>
                        <p>{{service.content|safe}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box h-100">
                        <i class="fa fa-shower"></i>
                        {% for service in services_card_3 %}
                        <h3>{{service.title}}</h3>
                        <p>{{service.content|safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}