{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="sidebar">
            <div class="sidebar-header">
                <a class="text-decoration-none text-white" href="{% url 'dashboard' %}">
                    <h3>Dashboard</h3>
                </a>

            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Manage Website</a>
                    <ul class="collapse show" id="homeSubmenu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Account
                        Management</a>
                    <ul class="collapse" id="pageSubmenu">
                        <li><a href="#">Reset Password</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Charts</a>
                </li>
                <li>
                    <a href="#">Tables</a>
                </li>
                <li>
                    <a href="#">Forms</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container">
            <h1 class="fw-lighter">Your Posts</h1>
            <hr>
            <section class="menu">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-light">Menu</h1>
                    <a class="btn text-primary rounded-5 pt-3" href="{% url 'create-menu' %}"><i
                            class="fa-solid fa-plus me-2"></i>Create New</a>
                </div>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for menu in menulist %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'menu-update' menu.slug %}">
                                    <h5 class="card-title">{{menu.title}}</h5>
                                </a>
                                <p class="card-text">{{menu.content|safe}}</p>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="text-muted">
                                        <div class="btn-group me-auto">
                                            <button class="btn rounded-5 bg-outline-secondary" type="button"
                                                id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                                <h6 class="dropdown-header">Manage Post</h6>
                                                <a class="dropdown-item"
                                                    href="{% url 'menu-update' menu.slug %}">Update</a>
                                                <a class="dropdown-item text-danger"
                                                    href="{% url 'menu-delete' menu.slug %}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="service mt-4">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-light">Services</h1>
                    <a class="btn text-primary rounded-5 pt-3" href="{% url 'create-service' %}"><i
                            class="fa-solid fa-plus me-2"></i>Create New</a>
                </div>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for service in services %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'service-update' service.slug %}">
                                    <h5 class="card-title">{{service.title}}</h5>
                                </a>
                                <p class="card-text">{{service.content|safe}}</p>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="btn-group me-auto">
                                            <button class="btn rounded-5 bg-outline-secondary" type="button"
                                                id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                                <h6 class="dropdown-header">Manage Post</h6>
                                                <a class="dropdown-item"
                                                    href="{% url 'service-update' service.slug %}">Update</a>
                                                <a class="dropdown-item text-danger"
                                                    href="{% url 'service-delete' service.slug %}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="service mt-4 mb-3">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-light">Contact</h1>
                    <a class="btn text-primary rounded-5 pt-3" href="{% url 'create-contact' %}"><i
                            class="fa-solid fa-plus me-2"></i>Create New</a>
                </div>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                    {% for contact in contacts %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'contact-update' contact.slug %}">
                                    <h5 class="card-title">{{contact.title}} 1</h5>
                                </a>
                                <p class="card-text"><i class="fa-solid fa-envelope me-2"></i>{{contact.email}} <br> <i
                                        class="fa fa-phone-square me-2" aria-hidden="true"></i> {{contact.phone_number}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-auto">
                                    <button class="btn rounded-5 bg-outline-secondary" type="button" id="triggerId"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                        <h6 class="dropdown-header">Manage Post</h6>
                                        <a class="dropdown-item"
                                            href="{% url 'contact-update' contact.slug %}">Update</a>
                                        <a class="dropdown-item text-danger"
                                            href="{% url 'contact-delete' contact.slug %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for contact in contacts %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'contact-update' contact.slug %}">
                                    <h5 class="card-title">{{contact.title}} 2</h5>
                                </a>
                                <p class="card-text"><i class="fa-solid fa-clock me-2"></i>{{contact.business_hours}}
                                    <br><i class="fa-solid fa-map me-2"></i>{{contact.service_area}} <br></p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-auto">
                                    <button class="btn rounded-5 bg-outline-secondary" type="button" id="triggerId"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                        <h6 class="dropdown-header">Manage Post</h6>
                                        <a class="dropdown-item"
                                            href="{% url 'contact-update' contact.slug %}">Update</a>
                                        <a class="dropdown-item text-danger"
                                            href="{% url 'contact-delete' contact.slug %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for contact in contacts %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'contact-update' contact.slug %}">
                                    <h5 class="card-title">{{contact.title}} 3</h5>
                                </a>
                                <p class="card-text"><i class="fa-solid fa-address-book me-2"></i>{{contact.address}}
                                    <br><i class="fa-solid fa-bars me-2"></i>{{contact.content|truncatechars:30}} <br>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group me-auto">
                                    <button class="btn rounded-5 bg-outline-secondary" type="button" id="triggerId"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                        <h6 class="dropdown-header">Manage Post</h6>
                                        <a class="dropdown-item"
                                            href="{% url 'contact-update' contact.slug %}">Update</a>
                                        <a class="dropdown-item text-danger"
                                            href="{% url 'contact-delete' contact.slug %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

    </div>
</div>


{% endblock content %}

{% block footer %}
{% endblock footer %}