{% extends "base.html" %}

{% block content %}


<section id="hero-1" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="text-white text-uppercase mt-3 mb-4">We are here to serve your plumbing needs</h6>
                <div class="service-line"></div>
                <h1 class="text-white text-uppercase fw-semibold display-1">Our Services</h1>
            </div>
        </div>
    </div>
</section>
<section id="services-section" class="section-padding">
    <div class="container">
        <div class="row align-items-center gy-5">
            <div class="col-lg-5">
                <img src="/media/images/businessman.jpg" alt="businessman">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h6 class="text-uppercase">Product Development</h6>
                <h1 class="mt-2 mb-4">Showcase your content like a pro and make a great first impression</h1>
                <p class="mb-4">Always recognize that your blog's primary purpose is marketing and driving new
                    traffic to buy from you. While you do want to inform, and in some cases entertain agency. Spark
                    creativity and craft beautiful store experiences with design tools that you want.</p>
                <!-- <a href="#" class="btn btn-primary">Explore Our Work</a> -->
            </div>
        </div>
    </div>
</section>
<section class="section-padding" id="services-section2">
    <div class="container">
        <div class="row align-items-center gy-5">
            <div class="col-lg-5 offset-lg-1">
                <h1 class="mt-2 mb-4">Human Resources</h1>
                <p class="mb-4">We understand that plumbing problems can be stressful and disruptive to your daily routine, which is why we strive to
                provide prompt and reliable service that you can trust. We use only the highest quality materials and equipment to
                ensure that our work is done right the first time, every time.</p>
                <div class="row gy-4">
                    <div class="col-12 col-lg-6">
                        <div class="d-flex justify-content-between">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i id="checkmark" class="fa fa-check-circle"></i>
                                </div>
                                <div class="col">
                                    <p class="fw-light">Pipe Repair and Replacement</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="d-flex justify-content-between">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i id="checkmark" class="fa fa-check-circle"></i>
                                </div>
                                <div class="col">
                                    <p class="fw-light">Faucet Installation/Repair Replacement</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="d-flex justify-content-between">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i id="checkmark" class="fa fa-check-circle"></i>
                                </div>
                                <div class="col">
                                    <p class="fw-light">Toilet Repair and Replacement</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="d-flex justify-content-between">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i id="checkmark" class="fa fa-check-circle"></i>
                                </div>
                                <div class="col">
                                    <p class="fw-light">Drain Cleaning and Replacement</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="/media/images/constructino.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<style>

#checkmark {
    color: #4f58d5;
}

/* .vertical-line{
    width: 4px;
    height: 80px;
    background-color: #898ed4;
    margin: 16px auto 24px auto;
} */

.service-line {
    width: 380px;
    height: 4px;
    background-color: #898ed4;
    margin: 16px auto 24px auto;
}

    /* More SERVICE DETAIL */
#services-section {
    position: relative;
}


#services-section::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4f58d5;
    z-index: -1;
}

#services-section h6 {
    color: #4f58d5;
}

#services-section2{
    position: relative;
}

#services-section2::before {
  content: "";
  width: 30%; 
  height: 50%;
  position: absolute;
  top: 50px;
  right: 300px;
  background-color: #4f58d5;
  z-index: -1;
}

@media (max-width: 992px) {
    #services-section::before {
        height: 40%;
        width: 100%;
    }   

    #services-section2::before {
        top: 700px;
        width: 600px;
    }
}
    
</style>
{% endblock content %}