{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ABOUT HERO  -->
<section id="hero-2" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white text-uppercase fw-semibold display-1">Learn More About Us</h1>
                <h6 class="text-white text-uppercase mt-3 mb-4">We are here to serve your plumbing needs</h6>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT CONTENT 1 -->
<section id="about" class="section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h1 class="display-4 fw-light">Why Choose Us</h1>
                    <div class="line"></div>
                </div>
                <div class="row justify-content-center align-items-center section-padding">
                    <div class="col-lg-6">
                        <img src="{% static 'images/constructionteam1.jpg' %}" alt="city image" class="img-fluid rounded">
                    </div>
                    <div class="col-lg-5">
                        <p class="lead">Agua Plumbing is a plumbing company that has been serving residential and commercial clients for
                            over 8 years. Since then, we have built a reputation for our professionalism, reliability, and exceptional
                            customer service.</p>
                        <p class="lead">We are fully licensed and insured, and we use only the highest-quality materials and equipment
                            for our plumbing work. Our team of skilled and experienced plumbers is dedicated to delivering the best
                            possible results for every project we undertake.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT COUNTER -->
<section id="counter1" class="section-padding">
    <div class="container text-center">
        <div class="row g-4 pt-4">
            <div class="col-lg-4 col-sm-12 my-sm-3">
                <h1 class=" display-4 text-white">300+</h1>
                <h6 class="text-uppercase text-white mb-0  mt-3">Projects Completed</h6>
            </div>
            <div class="col-lg-4 col-sm-12 mt-sm-3">
                <h1 class=" display-4 text-white">Service Area</h1>
                <h6 class="text-uppercase text-white mb-0  mt-3">Greater Denver Metro Area</h6>
            </div>
            <div class="col-lg-4 col-sm-12 mt-sm-3">
                <h1 class=" display-4 text-white">Certified</h1>
                <h6 class="text-uppercase text-white mb-0  mt-3">Team Members</h6>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT CONTENT 2-->
<section id="about" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row justify-content-center align-items-center section-padding">
                    <div class="col-lg-7">
                        <div class="accordion">
                            <div class="accordion-item py-4 my-4">
                                <div class="accordion-top py-4">
                                    <h3><span class="me-2 fw-light">01</span> At Agua Plumbing, we believe that every client</h3>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <div class="accordion-content">
                                    <p class="lead">deserves the best possible service, and we always go the extra mile to
                                    ensure that our clients are satisfied with our work. Contact us today to learn more about our services or to schedule a
                                    consultation.</p>
                                </div>
                            </div>
                            <div class="accordion-item py-4 my-4">
                                <div class="accordion-top py-4">
                                    <h3><span class="me-2 fw-light">02</span> At Agua Plumbing, we believe that exceptional customer</h3>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <div class="accordion-content">
                                    <p class="lead">service is the key to our success.
                                        We're dedicated to providing top-notch service to all of our clients, and we'll do whatever it takes to ensure that
                                        you're completely satisfied with our work.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <img src="{% static 'images/construction1.jpg' %}" alt="city image" class="img-fluid rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TEAM -->
<section id="team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Team</h6>
                    <h1>Team Members</h1>
                    <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image h-100">
                        <img src="/static/images/portraitman.jpg" alt="" class="img-fluid">
                        <div class="social-icons">
                            <a href="#"><i class='bi bi-facebook'></i></a>
                            <a href="#"><i class='bi bi-twitter'></i></a>
                            <a href="#"><i class='bi bi-instagram'></i></a>
                            <a href="#"><i class='bi bi-pinterest'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
        
                    <h5>Marvin McKinney</h5>
                    <p>Marketing Coordinator</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image h-100">
                        <img src="/static/images/portraitwoman.jpg" alt="" class="img-fluid">
                        <div class="social-icons">
                            <a href="#"><i class='bi bi-facebook'></i></a>
                            <a href="#"><i class='bi bi-twitter'></i></a>
                            <a href="#"><i class='bi bi-instagram'></i></a>
                            <a href="#"><i class='bi bi-pinterest'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
        
                    <h5>Kathryn Murphy</h5>
                    <p>Ethical Hacker</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="team-member">
                    <div class="image h-100">
                        <img src="/static/images/portraitman.jpg" alt="" class="img-fluid">
                        <div class="social-icons">
                            <a href="#"><i class='bi bi-facebook'></i></a>
                            <a href="#"><i class='bi bi-twitter'></i></a>
                            <a href="#"><i class='bi bi-instagram'></i></a>
                            <a href="#"><i class='bi bi-pinterest'></i></a>
                        </div>
                        <div class="overlay"></div>
                    </div>
        
                    <h5>Darrell Steward</h5>
                    <p>Software Developer</p>
                </div>
            </div>
        </div>

    </div>
</section>

<style>

.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  border: 0;
  border-top: none;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: var(--c-brand);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-top i:hover{
  color: rgb(47, 121, 250);
}

.accordion-top h3 {
  margin: 0;
  font-size: 18px;
  color: #3b408c;
}

.accordion-content {
  background: #fff;
  color: #000000;
  padding: 0px;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.3s ease, padding 0.3s ease;
}


.accordion-content p {
  margin: 0;
}

.accordion-top.active h3{
  color: #6b96e1;
}

.accordion-top.active i {
  transform: rotate(180deg);
}

.accordion-top.active + .accordion-content {
  max-height: 1000px;
  padding: 20px;
  animation: fade-in 0.5s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


    .section-title .line-long {
        width: 480px;
        height: 4px;
        background-color: var(--c-brand-light);
        margin: 16px auto 24px auto;
    }

    .info-box {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .icon {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: var(--c-brand);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon i {
        font-size: 30px;
        color: #fff;
    }

    .info-box h5 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .info-box p {
        margin-bottom: 0;
    }
</style>

    <script>
        let accordionHeaders = document.querySelectorAll('.accordion-top');

            accordionHeaders.forEach(header => {
                header.addEventListener('click', () => {
                    let accordionContent = header.nextElementSibling;
                    header.classList.toggle('active');
                    if (header.classList.contains('active')) {
                        accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
                    } else {
                        accordionContent.style.maxHeight = 0;
                    }
                });
            });

    </script>

{% endblock content %}