{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

{% comment %}
<div class="row">
    <!-- SIDEBAR -->
    <div class="col-md-4">
        <div class="sidebar">
            <div class="sidebar-header">
                <a class="text-decoration-none text-white" href="{% url 'dashboard' %}">
                    <h3>Dashboard</h3>
                </a>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'Home' %}">Home <i class="fa-solid fa-home ms-2"></i></a>
                </li>
                <li>
                    <a href="{% url 'dashboard' %}">Dashboard <i class="fa-solid fa-chart-line ms-2"></i></a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Manage
                        Website</a>
                    <ul class="collapse show" id="homeSubmenu">
                        <li><a href="{% url 'about-list' %}">About Us</a></li>
                        <li><a href="{% url 'contact-list' %}">Contact</a></li>
                        <li><a href="{% url 'service-list' %}">Services</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Account
                        Management</a>
                    <ul class="collapse" id="pageSubmenu">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="#">Change Password</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- POSTS GO UNDERNEATH HERE -->
    <div class="col-md-8">

        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
            <section class="menu">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-light">About</h1>
                    <a class="btn text-primary rounded-5 pt-3" href="{% url 'create-about' %}"><i
                            class="fa-solid fa-plus me-2"></i>Create New</a>
                </div>
                <hr>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for about in aboutus %}
                    <div class="col">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'about-update' about.slug %}">
                                    <h5 class="card-title">{{about.title}}</h5>
                                </a>
                                <p class="card-text">{{about.content}}</p>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="text-muted">
                                        <div class="btn-group me-auto">
                                            <button class="btn rounded-5 bg-outline-secondary" type="button"
                                                id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                                <h6 class="dropdown-header">Manage Post</h6>
                                                <a class="dropdown-item"
                                                    href="{% url 'about-update' about.slug %}">Update</a>
                                                <a class="dropdown-item text-danger"
                                                    href="{% url 'about-delete' about.slug %}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

    </div>
</div>

{% endcomment %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
            <div class="bg-dark p-2">
                <a href="{% url 'dashboard' %}" class="d-flex text-decoration-none align-items-center text-white mt-1">
                    <span class="fs-4 d-none d-sm-inline">Dashboard</span>
                    <ul class="nav nav-pills flex-column mt-4">
                        <li class="nav-item py-2 py-sm-0">
                            <a href="{% url 'Home' %}" class="nav-link text-white">
                                <i class="fs-5 fa fa-house"></i><span class="fs-4 d-none ms-4 d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a href="{% url 'dashboard' %}" class="nav-link text-white">
                                <i class="fs-5 fa fa-chart-column"></i><span
                                    class="fs-4 d-none ms-4 d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <div class="dropdown open">
                                <a class="border-0 text-white dropdown-toggle p-3" type="button" id="triggerId"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fs-5 fa fa-broadcast-tower"></i><span
                                        class="fs-4 d-none ms-4 d-sm-inline">Manage Website</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="{% url 'about-list' %}">About</a>
                                    <a class="dropdown-item" href="{% url 'contact-list' %}">Contacts</a>
                                    <a class="dropdown-item" href="{% url 'service-list' %}">Services</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="dropdown open p-3">
                <button class="btn border-0 dropdown-toggle text-white" type="button" id="triggerId"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i><span class="ms-2">{{request.user.username | title}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="#">Update Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>

        <!-- CONTENT SECTION -->
        <div class="container-fluid w-50">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
            <section class="menu">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-light">About</h1>
                    <a class="btn text-primary rounded-5 pt-3" href="{% url 'create-about' %}"><i
                            class="fa-solid fa-plus me-2"></i>Create New</a>
                </div>
                <hr>
                <div class="row row-cols-1 row-cols-md-3">
                    {% for about in aboutus %}
                    <div class="col-auto">
                        <div class="card project-card h-100">
                            <div class="card-body">
                                <a class="text-decoration-none" href="{% url 'about-update' about.slug %}">
                                    <h5 class="card-title">{{about.title}}</h5>
                                </a>
                                <p class="card-text">{{about.content|truncatechars:75}}</p>
                            </div>
                            <div class="card-footer border-0 bg-white">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="text-muted">
                                        <div class="btn-group me-auto">
                                            <button class="btn rounded-5 bg-outline-secondary" type="button"
                                                id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="triggerId">
                                                <h6 class="dropdown-header">Manage Post</h6>
                                                <a class="dropdown-item"
                                                    href="{% url 'about-update' about.slug %}">Update</a>
                                                <a class="dropdown-item text-danger"
                                                    href="{% url 'about-delete' about.slug %}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

<style>
    .card {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
    }


    .card-title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #212529;
    }

    .card-body {
        padding: 1rem;
    }

    .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .dropdown-menu a:hover {
        color: rgb(156, 166, 239);
    }

    @media (min-width: 768px) {
        .card-img-top {
            height: 200px;
        }
    }
</style>

{% endblock content %}

{% block footer %}

{% endblock footer %}