{% extends "base.html" %}

{% block content %}

{% comment %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    {% for contact in contacts %}
                    <h3>{{contact.title}}</h3>
                    <p>Email: {{contact.email}}</p>
                    <p>Address: {{contact.address}}</p>
                    <p>Phone Number: {{contact.phone_number}}</p>
                    <p>Business Hours: {{contact.business_hours}}</p>
                    <p>Service Area: {{contact.service_area}}</p>
                    <p>{{contact.content}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="tools">
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<section class="hero-section">
    <div class="hero-container">
        <h1 class="hero-heading">Contact Us</h1>
    </div>
</section>

<section class="contact-section my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form class="border rounded p-5 shadow">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <input class="form-control" type="text" placeholder="Your Name *" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <input class="form-control" type="email" placeholder="Your Email *" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <input class="form-control" type="text" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <textarea class="form-control" rows="6" placeholder="Message *" required></textarea>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="contact-details bg-light border rounded p-5 shadow">
                    <h4 class="mb-4">Contact Information</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><i class="fas fa-map-marker-alt fa-lg mr-3"></i> 1234 Street Name, City, State,
                            Country</li>
                        <li class="mb-3"><i class="fas fa-phone fa-lg mr-3"></i> +1 (123) 456-7890</li>
                        <li class="mb-3"><i class="fas fa-envelope fa-lg mr-3"></i> info@yourdomain.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}