{% extends "base.html" %}
{% load static %}

<script type="text/javascript" src="{% static 'ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="my-3">
        <h1 class="fw-lighter">Update Contact Card</h1>
        <hr>
        <div class="row">
            <div class="">
                <div class="card-body p-5 h-100">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-dark w-100 mb-3" type="submit">Publish</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="card ">
            <div class="card-body p-5 bg-light">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.media }}
                    <button class="btn btn-dark" type="submit" value="Submit">Update</button>
                </form>
            </div>
        </div> -->
    </div>
</div>

{% endblock content %}