{% extends "base.html" %}

{% block content %}

{% comment %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    {% for contact in contacts %}
                    <h3>{{contact.title}}</h3>
                    <p>Email: {{contact.email}}</p>
                    <p>Address: {{contact.address}}</p>
                    <p>Phone Number: {{contact.phone_number}}</p>
                    <p>Business Hours: {{contact.business_hours}}</p>
                    <p>Service Area: {{contact.service_area}}</p>
                    <p>{{contact.content}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="tools">
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<section class="hero-section">
    <div class="hero-container">
        <h1 class="hero-heading">Contact Us</h1>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="5" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 mx-auto">
                <iframe
                    class="h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3073.1071450658014!2d-104.70504369999999!3d39.6247913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8b77dde2ba53%3A0x4cda480be8f19c66!2s24266%20E%20Bellewood%20Dr%2C%20Aurora%2C%20CO%2080016!5e0!3m2!1sen!2sus!4v1679863924115!5m2!1sen!2sus"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>



{% endblock content %}