{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    {% for contact in contacts %}
                    <h3>{{contact.title}}</h3>
                    <p>Email: {{contact.email}}</p>
                    <p>Address: {{contact.address}}</p>
                    <p>Phone Number: {{contact.phone_number}}</p>
                    <p>Business Hours: {{contact.business_hours}}</p>
                    <p>Service Area: {{contact.service_area}}</p>
                    <p>{{contact.content}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="tools">
            </div>
        </div>
    </div>
</div>

{% endblock content %}