<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <img src="/media/images/logomountain.png" width="175px" height="105px" alt="logo">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5>SERVICES</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Leaking Solutions</a></li>
                        <li><a href="#">24/7 Emergency</a></li>
                        <li><a href="#">Plumbing Perfection</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5>About</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Pricing/Financing</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Commitment</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5>Contact</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">222-222-2222</a></li>
                        <li><a href="#">24266 E Bellewood Dr Aurora, CO 80016</a></li>
                        <li><a href="#">info@aguaplumbing.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p>&copy; Copyright Agua Plumbing. All Rights Reserved 2023</p>
            </div>
        </div>
    </div>
</footer>