body{
    /* background-image: url(/media/images/faucet.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Rubik', sans-serif, 'Spartan', sans-serif, 'Reenie Beanie', cursive;
}

hr {
    border-color: #a8acb0;
}

#services {
  background-color: #f8f8f8;
  padding: 60px 0;
}

#services h2 {
  text-align: center;
  margin-bottom: 40px;
}

.service-box {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-box i {
  font-size: 48px;
  color: #4173B9;
  margin-bottom: 30px;
  display: block;
}

.service-box h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}

.card {
  border: none;
}

.card-body {
  background-color: #f8f9fa;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color: #212529;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #6c757d;
  margin-bottom: 20px;
}

.card-text {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}


.project-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

/* .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
} */

.card-title {
  color: #4173B9;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-text {
  color: #6c757d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.card-footer {
  border-top: none;
  background-color: #fff;
}

.card-footer .d-flex {
  justify-content: space-between;
  align-items: center;
}

.card-footer .fw-bold {
  font-size: 0.9rem;
}

.card-footer .rounded-circle {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.contact-section form input,
.contact-section form textarea {
  background-color: #ffffff;
  border: none;
}

.contact-section form input:focus,
.contact-section form textarea:focus {
  box-shadow: none;
  border-color: #8e44ad;
}

.contact-section form button[type="submit"] {
  background-color: #8e44ad;
  border: none;
}

.contact-section form button[type="submit"]:hover {
  background-color: #6c3483;
}

.contact-section .contact-details {
  text-align: center;
}

.contact-section .contact-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-section .contact-details ul li {
  font-size: 16px;
  line-height: 2;
  color: #333333;
}

.contact-section .contact-details ul li i {
  color: #8e44ad;
}
/* Hero section styling For Contact Page */

.hero-section {
  background-image: url("/media/images/communication.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-heading {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

/* .img-background{
} */
/* Home Page section */
.hero-image {
  background-image: url('/media/images/denver.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: #f8efef;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-text a {
  font-size: 1.5rem;
}

nav{
  background-color: transparent;
  backdrop-filter: blur(2px);
}
.navbar-brand {
    padding: 0.5rem 0;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link {
    padding: 0.5rem 1rem;
    color: #e6e2e2;
}

.nav-link:hover {
    color: #8bbdf2;
}

.navbar-nav .nav-link.active {
    color: #e6e2e2;
    font-weight: bolder;
    text-decoration: underline;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.text-muted {
    opacity: 0.7;
}

/* Fixed navbar styles */
.navbar.fixed-top {
    transition: all 0.5s ease-in-out;
}

.navbar.fixed-top.hide {
    transform: translateY(-100%);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
}


